body{
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  font-size: 0.9em;
  padding-bottom:10%;
}
/* login input boxes */
.login{
  display: block;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}
.form{
  padding:2%;
  text-align: left;
}
.loginf{
  display: inline-block;
  border: none;
  border-bottom: 0.05em solid grey;
  outline: none;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
}
label{
  display: inline-block;
  padding-top: 3%;
  padding-bottom: 2%;
}
/* login page submit button */
button[type=submit]{
  margin: 5%;
  padding: 2% 3%;
  border-radius: 2em;
  border: none;
  font-size: 1em;
}
.backB{
  display: inline-block;
  position: relative;
  background: none;
  color: white;
  border: none;
  padding: 2%;
  font: inherit;
}
/*second page*/
.unitlist{
  display: inline-block;
  list-style-type: none;
  margin:0;
  padding:0;
  width: 100%;
  font-size: 1.1em;
}

.unit a{
  display: block;
  color: #000;
  text-decoration: none;
  width:auto;
  background-color: #f1f1f1;
  margin: 2% 0;
  padding-top: 2%;
}
.unitimage{
  width: 100%;
  height: 140px;
  padding-top: 3%;
}


/* Change the link color on hover */
li a:hover{
  background-color: #555;
  color: white;
}

/*end*/

.unitcontent{
  display: inline-block;
  list-style-type: none;
  width: 100%;
  font-size: 1.1em;
  padding-left: 0;
  margin:0;
  background-color: #f1f1f1;
}
.content a{
  display: block;
  color: #000;
  text-decoration: none;
  width:auto;
  padding: 2%;
  background-color: #f1f1f1;
  margin: 0;
}
/*alert box */
.alert{
  display: none;
}
#cc {
  display: none;
}
/* app header */
.header{
  background-color: rgb(29, 26, 61);
  margin: 0;
  padding: 2%;
  text-align: center;
}
#logo{
  width: 50%;
  display: inline-block;
  margin-left: 5%;
  margin-top: 1%
}
/* app header end */

/* app footer */
.footer{
  text-align: center;
  background-color: rgb(29, 26, 61);
  margin: 0;
  padding-bottom: 2%;
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
}
.logoutB{
  font-family: sans-serif;
  text-align: center;
  margin: 2%;
  font-size: 0.9em;
  text-decoration: none;
  color: white;
  display: inline-block;
}
/* end app footer */

/* if the screen exceeds this size then do these actions */
@media screen and (min-width:770px){
  /* The alert message box */
  .alert {
    padding: 20px;
    background-color: #48d2ff; /* blue */
    color: white;
    margin-bottom: 15px;
    display: block;
  }

  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }

  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }

  .unitlist{
    display: inline-block;
    list-style-type: none;
    margin:0;
    padding:0;
    width: 50%;
    font-size: 1.1em;
  }
  #logo{
    width: 20%;
    display: inline-block;
    margin-left: 0%;
  }
  .header{
    background-color: rgb(29, 26, 61);
    margin: 0;
    padding: 1%;
    text-align: center;
    height: 5%;
  }
  .unitcontent{
    display: inline-block;
    list-style-type: none;
    width: 50%;
    font-size: 1.1em;
    padding-left: 0;
    margin:0;
    background-color: #f1f1f1;
  }
}
